body {
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif; /* Black, Bold, Medium */
}

.container {
  text-align: center;
  width: 450px;
  height: 80%;
  background-color: white;
  margin: auto;
  border-radius: 15px;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 10px 10px hsl(224, 100%, 92%);
  min-width: 350px;
  margin-top: 60px;
  margin-bottom: 30px;
}
#container_img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#order-summary {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-top: 40px;
  font-size: 30px;
}
#desc {
  color: hsl(224, 23%, 55%);
  margin-left: 15%;
  margin-right: 15%;
  line-height: 1.5;
}
#plans{
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
  border-radius: 5px;
  line-height: 40px;
  background-color: hsl(225, 100%, 98%);
}
.rates{
  text-align: left;
    width: 50%;
    line-height: 1.5;
}
#changeLink{
font-weight: 700;
color:hsl(244, 56%, 61%);
text-decoration: underline;

}
#changeLink:hover{
  font-weight: 700;
  color:hsl(244, 56%, 61%);
  text-decoration: none;
  
  }
  #paymentBtn{
    margin-top: 30px;
    margin-bottom: 10px;
    padding:15px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-style: none;
    letter-spacing: 0.6px;
    font-family: inherit;
    font-weight: 900;
    border-radius: 10px;
    box-shadow: -2px 15px 15px hsl(224deg 100% 92%);
    color: white;
    background-color: hsl(245, 75%, 52%);
  }
  #paymentBtn:hover{
    background-color: hsl(245, 83%, 68%);
    transition: 0.5s;

  }

  #cancel{
text-decoration: none;
font-size: 14px;
font-weight: 900;
color: hsl(224, 23%, 55%);
  }
  #cancel:hover{
    color:black;
    transition:0.5s;
  }